/* Estilo basico para la tabla */

#customer{
  width: 100%;
  border-collapse: collapse;
  padding: 20px 0;
  font-size: 18px;
  text-align: left;
}


/* Estilo de la cabezera */
#customer th,td{
  padding: 12px 15px;
  text-align: center;

}

/* Color para la cabezera */

#customer th{
  background-color: #009879;
  color: #ffffff;
  text-align: center;

}

/* Color para el fondo alternativo para las  filas */

#customer tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

#customer tbody tr:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}

#customer th,td{
  border-bottom: 1px solid #dddddd;

}

body {
  font-family: Arial, sans-serif;
}


#idCodigo{
  display: none;
} 