/* Estilo básico para toda la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  /* Estilo para las cabeceras */
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
  
  /* Color y estilo de las cabeceras */
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  
  /* Color de fondo alternativo para las filas */
  tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  /* Efecto al pasar el ratón sobre las filas */
  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Bordes */
  th, td {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Fuente */
  body {
    font-family: Arial, sans-serif;
  }
  


#idCodigo{
    display: none;
}